@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    
  }
  
  /* Ensure your components are not causing overflow */
  nav {
    max-width: 100%;
    overflow-x: hidden;
  }
/* تخصيص حجم شريط التمرير */
::-webkit-scrollbar {
    width: 14px;  /* عرض الشريط العمودي */
    height: 8px; /* ارتفاع الشريط الأفقي */
  }
  
  /* تخصيص لون الخلفية للشريط */
  ::-webkit-scrollbar-track {
    background: transparent; /* لون الخلفية */
  }
  
  /* تخصيص لون المقبض (الجزء القابل للتمرير) */
  ::-webkit-scrollbar-thumb {
    background: #b4001e; /* لون المقبض */
  }
  
  /* تأثير عند تحريك المؤشر فوق المقبض */
  ::-webkit-scrollbar-thumb:hover {
    background: #ea0027; /* لون المقبض عند التحويم */
  }
  .text-glow-p {
    text-shadow: 0 0 5px rgba(0, 0, 255, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
    .text-glow-y {
      text-shadow: 0 0 5px rgba(255, 255, 0, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
    }

  
.text-glow-s {
  text-shadow: 0 0 5px rgba(192, 192, 192, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
}

.text-glow-b {
  text-shadow: 0 0 5px rgba(205, 127, 50, 0.7), 0 0 10px rgba(255, 255, 255, 0.5);
}
